.vscode/**
src/**
out/**
coverage/**
node_modules/**
.gitignore
tsconfig.json
webpack.config.js
**/*.map
.env
*.env
.env.*
.env/
*.env/
.env.*/
.secrets
*.secrets
.secrets.*
.secrets/
*.secrets/
.secrets.*/
*.log
